<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.css">
      <script
        src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ext-language_tools.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ext-spellcheck.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/mode-javascript.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/mode-java.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/mode-python.js"></script>
    </head>
    <body>
        {{{ content }}}
    </body>
</html>
