{{>nav}}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Account</h1>
        </div>
        <div class="container" id="menu" style="width: 165px; float: left; overflow: hidden; margin-left: 10%">
            <aside class="menu">
                <p class="menu-label">Change Account Settings</p>
                <ul class="menu-list">
                    <li><a>Change Name</a></li>
                    <li><a>Change Username</a></li>
                    <li><a>Change Email</a></li>
                    <li><a>Change Password</a></li>
                </ul>
            </aside>
        </div>
        <div class="field" id="Name" style="overflow: hidden; display: ">
            <form id="changeName">

                <label class="label" id="oldNameLabel"><b>Old Name</b></label>
                <p class="control has-icons-right has-icons-left">
                    <input class="input" id="oldName" type="text" placeholder="Old Name" name="oldName">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user-circle"></i>
                    </span>
                    <span class="icon is-small is-right" id="oldNameCheck" style="display: none">
                        <i class="fa fa-check" id="oldNameRightIcon"></i>
                    </span>
                </p>
                <p class="help" id="oldNameStatus"></p>

                <label class="label" id="newNameLabel"><b>New Name</b></label>
                <p class="control has-icons-right has-icons-left">
                    <input class="input" id="newName" type="text" placeholder="New Name" name="newName">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user-circle"></i>
                    </span>
                    <span class="icon is-small is-right" id="newNameCheck" style="display: none">
                        <i class="fa fa-check" id="newNameRightIcon"></i>
                    </span>
                </p>
                <p class="help" id="newNameStatus"></p>

                <input class="button is-primary" id="submit" type="submit" value="Submit">
            </form>
        </div>
        <div class="field" id="Username" style="overflow: hidden; display: ">
            <form id="changeUsername">
                <label class="label" id="oldUsernameLabel"><b>Old Username</b></label>
                <p class="control has-icons-right has-icons-left">
                    <input class="input" id="oldUsername" type="text" placeholder="Old Username" name="oldUsername">
                    <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    <span class="icon is-small is-right" id="oldUsernameCheck" style="display: none">
                            <i class="fa fa-check" id="oldUsernameRightIcon"></i>
                        </span>
                </p>
                <p class="help" id="oldUsernameStatus"></p>

                <label class="label" id="newUsernameLabel"><b>New Username</b></label>
                <p class="control has-icons-right has-icons-left">
                    <input class="input" id="newUsername" type="text" placeholder="New Username" name="newUsername">
                    <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    <span class="icon is-small is-right" id="newUsernameCheck" style="display: none">
                            <i class="fa fa-check" id="newUsernameRightIcon"></i>
                        </span>
                </p>
                <p class="help" id="newUsernameStatus"></p>

                <input class="button is-primary" id="submit", type="submit" value="Submit">
            </form>
        </div>
        <div class="field" id="Email" style="overflow:hidden; display: ">
            <form id="changeEmail">
                <label class="label" id="oldEmailLabel"><b>Old Email</b></label>
                <p class="control has-icons-right has-icons-left">
                    <input class="input" id="oldEmail" type="text" placeholder="Old Email" name="oldEmail">
                    <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                    <span class="icon is-small is-right" id="oldEmailCheck" style="display: none">
                                <i class="fa fa-check" id="oldEmailIcon"></i>
                            </span>
                </p>
                <p class="help" id="oldEmailStatus"></p>

                <label class="label" id="newoldEmailLabel"><b>New Email</b></label>
                <p class="control has-icons-right has-icons-left">
                    <input class="input" id="newEmail" type="text" placeholder="new Email" name="newEmail">
                    <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                    <span class="icon is-small is-right" id="newEmailCheck" style="display: none">
                                <i class="fa fa-check" id="newEmailIcon"></i>
                            </span>
                </p>
                <p class="help" id="newEmailStatus"></p>

                <input class="button is-primary" id="submit", type="submit" value="Submit">
            </form>
        </div>
        <div class="field" id="Password" style="overflow: hidden; display: ">
            <form id="changePassword">
                <label class="label" id="oldPasswordLabel"><b>Old Password</b></label>
                <p class="control has-icons-right has-icons-left">
                    <input class="input" id="oldPassword" type="text" placeholder="Old Password" name="oldPassword">
                    <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    <span class="icon is-small is-right" id="oldPasswordCheck" style="display: none">
                            <i class="fa fa-check" id="oldPasswordRightIcon"></i>
                        </span>
                </p>
                <p class="help" id="oldPasswordStatus"></p>

                <label class="label" id="newPasswordLabel"><b>New Password</b></label>
                <p class="control has-icons-right has-icons-left">
                    <input class="input" id="newPassword" type="text" placeholder="New Password" name="newPassword">
                    <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    <span class="icon is-small is-right" id="newPasswordCheck" style="display: none">
                            <i class="fa fa-check" id="newPasswordIcon"></i>
                        </span>
                </p>
                <p class="help" id="newPasswordStatus"></p>

                <label class="label" id="retypePasswordLabel"><b>Retype Password</b></label>
                <p class="control has-icons-right has-icons-left">
                    <input class="input" id="retypePassword" type="text" placeholder="Retype Password" name="retypePassword">
                    <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    <span class="icon is-small is-right" id="retypePasswordCheck" style="display: none">
                            <i class="fa fa-check" id="retypePasswordIcon"></i>
                        </span>
                </p>
                <p class="help" id="retypePasswordStatus"></p>

                <input class="button is-primary" id="submit", type="submit" value="Submit">
            </form>
        </div>
    </div>
</section>
