{{> nav}}
<div class="hero-body">
    <div class="container">
        {{> alert}}
        <h1 class="content">This page is for permanently delete objects that are marked for deletion.</h1>
        <div class="columns">
            <div class="column is-6">
                <div class="box">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <h1>Un-delete All</h1>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <div class="button is-info" id="un-delete">Un-delete All</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="box">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <h1>Delete All</h1>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <div class="button is-danger" id="delete-all">Delete All</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../public/mini-js/delete.min.js"></script>
