{{> nav}}
<div class="notification" style="margin-bottom: 0;">
    Please go to <a href="../../docs">/docs</a> for all available routes with payloads.
</div>
<section class="hero is-fullheight">
    <iframe src="/public/documentation/index.html" style="height:100%; width:100%; position:absolute;"></iframe>
</section>
