{{> nav}}
<section class="hero">
    <div class="hero-body" style="padding: 0rem 0rem;">
        <div class="notification" id="alert" style="visibility: hidden; margin-bottom: 0rem; text-align: center; font-size: 125%; padding-top: .5rem; padding-bottom: .5rem">Success!</div>
        <div class="container">
            <h1 class="title">Forgot Password</h1>
        </div>
        <div class="field">
            <form id="reset">
                <label class="label">Email</label>
                <input class="input"  id="email" type="email" placeholder="Email">
                <input class="button is-primary is-outlined" type="submit" value="Reset Password">
            </form>
        </div>
        <div id="Success">

        </div>
        <script>
            $('#reset').on('submit', function (e) {
                e.preventDefault();

                const email = $('#email')[0].value;

                $.post('/api/login/forgot', {email:email}, function (data) {
                    successAlert('Success! You will receive an email to reset your password soon!', unlimited=true);
                }).fail(function (data) {
                    failureAlert('Please enter your email');
                });

            });

            function failureAlert(message) {
                $('#alert').text(message).removeClass('is-success').addClass('is-danger').css({opacity: 0, visibility: "visible"}).animate({opacity: 1}, 400);
            }

            function successAlert(message, unlimited=false) {
                $('#alert').text(message).removeClass('is-danger').addClass('is-success').css({opacity: 0, visibility: "visible"}).animate({opacity: 1}, 400);
                if (unlimited === false) {
                    window.setTimeout(function () {
                        $('#alert').css({opacity: 1.0, visibility: "visible"}).animate({opacity: 0}, 400);
                    }, 2500);
                }
            }
        </script>
    </div>
</section>
