{{> nav}}
<section class="hero">
    <div class="hero-body" style="padding: 0rem 0rem;">
        <div class="notification" id="alert" style="visibility: hidden; margin-bottom: 0rem; text-align: center; font-size: 125%; padding-top: .5rem; padding-bottom: .5rem">Success!</div>
        <div class="container">
            <h1 class="title">Forgot Password</h1>
        </div>
        <div class="field">
            <form id="reset">
                <label class="label">Email</label>
                <input class="input"  id="email" type="email" placeholder="Email">
                <input class="button is-primary is-outlined" type="submit" value="Reset Password">
            </form>
        </div>
    </div>
</section>
<script type="text/javascript" src="../public/mini-js/forgotPassword.min.js"></script>
