{{> nav}}
<section class="hero">
  <div class="hero-heading">
    {{> alert}}
  </div>
  <div class="hero-body">
    <div class="container">
      <h4 class="title is-4 has-text-centered">
        Clotho is a framework for engineering synthetic biological systems and managing the data used to create them.
        You can author data schemas, run functions and algorithms, and tie Clotho into existing applications.
      </h4>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <div class="columns">
              <div class="column is-2">
                <img style="max-height: 100px" src="../public/images/logo%20without%20name.png">
              </div>
              <div class="column is-10">
                <h2 class="title is-3"><b>Learning Clotho</b></h2>
                <p>An introduction to the basics of DNA, Genetic Design and Synthetic Biology.</p><br>
                <a class="button is-primary" href="http://www.synbiotrails.org">Get Started</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-4 is-vertical is-parent">
          <div class="tile is-child box">
            <a href="https://github.com/hicsail/clotho">
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="level-item">
                    Download Clotho
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="tile is-child box">
            <a href="../apps">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                </div>
                <div class="level-item">
                  Browse Apps
                </div>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
