{{> nav}}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Login</h1>
        </div>
        <div class="field">
            <form id="login">
                <label class="label" id="usernameLabel"><b>Username</b></label>
                <input class="input" id="username" type="text" placeholder="Username" name="username">
                <label class="label" id="passwordLabel"><b>Password</b></label>
                <input class="input" id="password" type="text" placeholder="Password" name="password">
                <input class="button is-primary" id="login" type="submit" value="Login">
            </form>
            <script>
                $('#login').on('submit', function (e) {
                    e.preventDefault();

                    // Store the input values in an object variable
                    var values = {};
                    $.each($('#login').serializeArray(), function (i, field) {
                        values[field.name] = field.value;
                    });

                    // If the user exists, redirect to home page, if not show an alert
                    $.post('/api/login', values, function (data) {
                      console.log(data.authHeader.split('Basic ')[1]);
                      var expires = new Date();
                      expires.setFullYear(9999);
                      document.cookie = data.authHeader.split('Basic ')[1] + ';expires=' + expires;
                      window.location.replace('/');
                    }).fail(function (data) {
                        var message = data.responseJSON.message;
                        alert(message);
                    });
                });
            </script>
        </div>
    </div>
</section>
