{{> nav}}
<section class="hero">
    <div class="hero-body" style="padding: 0rem 0rem;">
        <div class="notification" id="alert" style="visibility: hidden; margin-bottom: 0rem; text-align: center; font-size: 125%; padding-top: .5rem; padding-bottom: .5rem">Success!</div>
        <div class="container">
            <h1 class="title">Login</h1>
        </div>
        <div class="field">
            <form id="login">
                <label class="label" id="usernameLabel"><b>Username</b></label>
                <input class="input" id="username" type="text" placeholder="Username" name="username">
                <label class="label" id="passwordLabel"><b>Password</b></label>
                <input class="input" id="password" type="password" placeholder="Password" name="password">
                <input class="button is-primary" id="login" type="submit" value="Login">
            </form>
            <script>
                $('#login').on('submit', function (e) {
                    e.preventDefault();

                    // Store the input values in an object variable
                    var values = {};
                    $.each($('#login').serializeArray(), function (i, field) {
                        values[field.name] = field.value;
                    });

                    // If the user exists, redirect to home page, if not show an alert
                    $.post('/api/login', values, function (data) {
                      location.reload();
                    }).fail(function (data) {
                        var message = data.responseJSON.message;
                        failureAlert(message);
                    });
                });

                function failureAlert(message) {
                    $('#alert').text(message).removeClass('is-success').addClass('is-danger').css({opacity: 0, visibility: "visible"}).animate({opacity: 1}, 400);
                }
            </script>
        </div>
    </div>
</section>
