<section class="hero is-light is-fullheight is-bold">
    <div class="hero-heading">
      {{> nav}}
      {{> alert}}
      <div class="has-text-centered">
        <h1 class="title">Login</h1>
      </div>
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <form id="login" class="box">
                <label class="label" id="usernameLabel"><b>Username</b></label>
                <input class="input" id="username" type="text" placeholder="Username" name="username">
                <label class="label" id="passwordLabel"><b>Password</b></label>
                <input class="input" id="password" type="password" placeholder="Password" name="password">
                <input class="button is-primary" id="login" type="submit" value="Login">
                <a class="button is-primary is-outlined" type="button" href="/forgot">Forgot Password</a>
            </form>
            <hr>
            <div class="has-text-centered">
              Need an account? <strong><a href="/register">Register Here</a></stong>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<script type="text/javascript" src="../public/mini-js/login.min.js"></script>
