{{> nav}}
<section class="hero">
    <div class="hero-body" style="padding: 0rem 0rem;">
        <div class="notification" id="alert" style="visibility: hidden; margin-bottom: 0rem; text-align: center; font-size: 125%; padding-top: .5rem; padding-bottom: .5rem">Success!</div>
        <div class="container">
            <h1 class="title">Reset Password</h1>
        </div>
        <div class="field">
            <form id="reset">
                <label class="label">Email</label>
                <input class="input"  id="email" type="email" placeholder="Email">
                <input class="button" type="submit" value="Reset Password">
            </form>
        </div>
        <script>
            $('#reset').on('submit', function (e) {
                e.preventDefault();

                const email = $('#email')[0].value;

                $.post('/api/login/forgot', {email:email}, function (data) {
                    console.log('succeeded');
                    console.log(data.responseJSON);
                }).fail(function (data) {
                    console.log('failed');
                    console.log(data.responseJSON);
                });

            });
        </script>
    </div>
</section>
