{{>nav}}
<section class="main">
    <div class="main-body">
        <div class="container">
            <h1 class="title">Register</h1>
        </div>
        <div class="form">
            <label id="un"><b>Username</b></label><br>
            <input id="unField" type="text" placeholder="Username:" name="username" required>
            <br>
            <label id="pwd"><b>Password</b></label><br>
            <input id="pwdField" type="text" placeholder="Password:" name="password" required>

        </div>
    </div>
</section>
