{{>nav}}
<section class="main">
    <div class="main-body">
        <div class="container">
            <h1 class="title">Register</h1>
        </div>
        <div class="field" >
            <form id="register">
                <label class="label"><b>Full Name</b></label>
                <input class="input" type="text" placeholder="First Last" name="name" required>
                <label class="label"><b>Username</b></label>
                <input class="input" type="text" placeholder="Username" name="username" required>
                <label class="label"><b>Password</b></label>
                <input class="input" type="text" placeholder="Password" name="password" required>
                <label class="label"><b>Email</b></label>
                <input class="input" type="text" placeholder="Email" name="email" required>
                <input class="button is-primary" id="submit" type="submit" value="Submit">
            </form>
            <script>
                $('#register').on('submit', function (e) {
                    e.preventDefault();
                    var values = {};
                    $.each($('#register').serializeArray(), function (i, field) {
                        values[field.name] = field.value;
                    });
                    $.post('../../api/signup', values, function () {
                        console.log('success');
                        window.location.replace('/')
                    });
                });
            </script>
        </div>
    </div>
</section>
