{{>nav}}
<section class="hero">
    <div class="hero-body" style="padding: 0rem 0rem;">
        <div class="notification" id="alert" style="visibility: hidden; margin-bottom: 0rem; text-align: center; font-size: 125%; padding-top: .5rem; padding-bottom: .5rem">Success!</div>
        <div class="container">
            <h1 class="title">Register</h1>
        </div>
        <div class="field">
            <form id="register">
                <label class="label" id="nameLabel"><b>Full Name</b></label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input" id="name" type="text" placeholder="First Last" name="name">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user-circle"></i>
                    </span>
                    <span class="icon is-small is-right" id="nameCheck" style="display: none">
                        <i class="fa fa-check" id="nameRightIcon"></i>
                    </span>
                </p>

                <label class="label" id="emailLabel"><b>Email</b></label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input" id="email" type="text" placeholder="Email" name="email">
                    <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right" id="emailCheck" style="display: none">
                        <i class="fa fa-check" id="emailRightIcon"></i>
                    </span>
                </p>
                <p class="help" id="emailStatus"></p>

                <label class="label" id="usernameLabel"><b>Username</b></label>
                <p class="control has-icons-right has-icons-left">
                    <input class="input" id="username" type="text" placeholder="Username" name="username">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                    <span class="icon is-small is-right" id="usernameCheck" style="display: none">
                        <i class="fa fa-check" id="usernameRightIcon"></i>
                    </span>
                </p>
                <p class="help" id="usernameStatus"></p>


                <label class="label" id="passwordLabel"><b>Password</b></label>
                <p class="control has-icons-right has-icons-left">
                    <input class="input" id="password" type="password" placeholder="Password" name="password">
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                    <span class="icon is-small is-right" id="passwordCheck" style="display: none">
                        <i class="fa fa-check" id="passwordRightIcon"></i>
                    </span>
                </p>


                <label class="label" id="retypePwLabel"><b>Retype Password</b></label>
                <p class="control has-icons-right has-icons-left">
                    <input class="input" id="retypePw" type="password" placeholder="Retype Password" name="retypePw">
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                    <span class="icon is-small is-right" id="retypePwCheck" style="display: none">
                        <i class="fa fa-check" id="retypePwRightIcon"></i>
                    </span>
                </p>
                <p class="help" id="retypePwStatus"></p>

                <input class="button is-primary" id="submit" type="submit" value="Submit">
            </form>
            <script>
                $('#register').on('submit', function (e) {
                  e.preventDefault();

                  var name = $('#name');
                  var username = $('#username');
                  var password = $('#password');
                  var email = $('#email');
                  var retypePw = $('#retypePw');
                  var valid = false;

                  var fields = [name, email, username, password, retypePw];
                  for(var i = 0; i < fields.length; i++) {  // Loop through the fields and remove the red outline if there is one
                    fields[i].removeClass('is-danger');
                  }

                  // Loop through fields to see if they are filled.
                  for(var i = 0; i < fields.length; i++){
                    if(fields[i][0].value === '') {
                      var id = fields[i][0].id;
                      if (id === 'retypePw') {
                        failureAlert('Please retype your password.');
                      } else {

                          failureAlert('Please fill out the ' + id);
                      }
                      fields[i].addClass('is-danger');
                      break;
                    }
                    if(i === 4) {   // If they are all filled out, check to see if passwords match
                      if(fields[3][0].value != fields[4][0].value) {
                        failureAlert('Your passwords do not match');
                        fields[3].addClass('is-danger');
                        fields[4].addClass('is-danger');
                        break;
                      }
                      valid = true; // If passwords match, send the data over to the sever.
                    }
                  }

                  if(valid === true) {
                    var values = {};    // Stores the values of the input fields
                    $.each($('#register').serializeArray(), function (i, field) {   // Loops through the input fields
                      values[field.name] = field.value;
                    });
                    delete values.retypePw; //delete the confirmed password

                    // If user does not already exist, send to home page
                    // If any error, show it in an alert
                    $.post('../../api/signup', values, function () {
                      window.location.replace('/');
                    }).fail(function (data) {
                      var message = formatResponseMessage(data.responseJSON.message);
                      failureAlert(message)
                    });
                  }
                });

                var emailFocus = false;
                var usernameFocus = false;
                $('#email').focus(function (e) {
                    e.preventDefault();
                    emailFocus = true;
                });
                $('#username').focus(function (e) {
                    e.preventDefault();
                    usernameFocus = true;
                });

                // Email verification
                $('#email').blur(function (e) {
                  if (emailFocus === true) {
                      //e.preventDefault();
                      emailFocus = false;
                      $.post('/api/available', {email: $('#email')[0].value}, function (data) {
                        var message = data.email.message;
                        var success = 'This email is available';

                        if (message === success) {
                          $('#email').removeClass('is-danger').addClass('is-success');
                          $('#emailRightIcon').removeClass('fa-warning').addClass('fa-check');
                          $('#emailCheck').css('display', '');
                          $('#emailStatus').text(success);
                        }
                        else {
                          $('#email').removeClass('is-success').addClass('is-danger');
                          $('#emailRightIcon').removeClass('fa-check').addClass('fa-warning');
                          $('#emailCheck').css('display', '');
                          $('#emailStatus').text(message);
                        }
                      }).fail(function (data) { // It will fail if the input is not in email form
                        var message = formatResponseMessage(data.responseJSON.message);
                        $('#email').removeClass('is-success').addClass('is-danger');
                        $('#emailRightIcon').removeClass('fa-check').addClass('fa-warning');
                        $('#emailCheck').css('display', '');
                        $('#emailStatus').text(message);
                      });
                  }
                });

                // Username verifiation
                $('#username').blur(function () {
                    if (usernameFocus === true) {
                        //e.preventDefault();
                        usernameFocus = false;
                        $.post('/api/available', {username: $('#username')[0].value}, function (data) {
                            var message = data.username.message;
                            var success = 'This username is available';

                            if (message === success) {
                                $('#username').removeClass('is-danger').addClass('is-success');
                                $('#usernameRightIcon').removeClass('fa-warning').addClass('fa-check');
                                $('#usernameCheck').css('display', '');
                                $('#usernameStatus').text(success);
                            } else {
                                $('#username').removeClass('is-success').addClass('is-danger');
                                $('#usernameRightIcon').removeClass('fa-check').addClass('fa-warning');
                                $('#usernameCheck').css('display', '');
                                $('#usernameStatus').text(message);
                            }
                        }).fail(function (data) {   // It will fail if the input is not in email form
                            var message = formatResponseMessage(data.responseJSON.message);
                            $('#username').removeClass('is-success').addClass('is-danger');
                            $('#usernameRightIcon').removeClass('fa-check').addClass('fa-warning');
                            $('#usernameCheck').css('display', '');
                            $('#usernameStatus').text(message);
                        });
                    }
                });

                // Password verification
                $('#retypePw').keyup(function (e) {
                  e.preventDefault();
                  var pw = $('#password')[0].value;
                  var pw2 = $('#retypePw')[0].value;
                  if (pw === '') {
                    $('#password').removeClass('is-success').addClass('is-danger');
                    $('#retypePwStatus').text('Please type in a password');
                  } else if (pw === pw2) {
                    $('#password').removeClass('is-danger').addClass('is-success');
                    $('#retypePw').removeClass('is-danger').addClass('is-success');
                    $('#passwordRightIcon').removeClass('fa-warning').addClass('fa-check');
                    $('#retypePwRightIcon').removeClass('fa-warning').addClass('fa-check');
                    $('#passwordCheck').css('display', '');
                    $('#retypePwCheck').css('display', '');
                    $('#retypePwStatus').text('Passwords match!');
                  } else {
                    $('#password').removeClass('is-success').addClass('is-danger');
                    $('#retypePw').removeClass('is-success').addClass('is-danger');
                    $('#passwordRightIcon').removeClass('fa-check').addClass('fa-warning');
                    $('#retypePwRightIcon').removeClass('fa-check').addClass('fa-warning');
                    $('#passwordCheck').css('display', '');
                    $('#retypePwCheck').css('display', '');
                    $('#retypePwStatus').text('Passwords do not match');
                  }
                });



                function formatResponseMessage(message) {
                    message = message.substring(message.lastIndexOf('[')+1, message.lastIndexOf(']'));
                    return message.replace(/\"/g , "");
                }
                function failureAlert(message) {
                    $('#alert').text(message).removeClass('is-success').addClass('is-danger').css({opacity: 0, visibility: "visible"}).animate({opacity: 1}, 400);
                }
                function successAlert(message) {
                    $('#alert').text(message).removeClass('is-danger').addClass('is-success').css({opacity: 0, visibility: "visible"}).animate({opacity: 1}, 400);
                    window.setTimeout(function () {
                        $('#alert').css({opacity: 1.0, visibility: "visible"}).animate({opacity: 0}, 400);
                    }, 2500);
                }
            </script>
        </div>
    </div>
</section>
