{{>nav}}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Register</h1>
        </div>
        <div class="field">
            <form id="register">
                <label class="label" id="nameLabel"><b>Full Name</b></label>
                <input class="input" id="name" type="text" placeholder="First Last" name="name">
                <label class="label" id="emailLabel"><b>Email</b></label>
                <input class="input" id="email" type="text" placeholder="Email" name="email">
                <label class="label" id="usernameLabel"><b>Username</b></label>
                <input class="input" id="username" type="text" placeholder="Username" name="username">
                <label class="label" id="passwordLabel"><b>Password</b></label>
                <input class="input" id="password" type="text" placeholder="Password" name="password">
                <label class="label" id="retypePwLabel"><b>Retype Password</b></label>
                <input class="input" id="retypePw" type="text" placeholder="Password" name="retypePw">
                <input class="button is-primary" id="submit" type="submit" value="Submit">
            </form>
            <script>
                $('#register').on('submit', function (e) {
                  e.preventDefault();

                  var name = $('#name');
                  var username = $('#username');
                  var password = $('#password');
                  var email = $('#email');
                  var retypePw = $('#retypePw');
                  var valid = false;

                  var fields = [name, email, username, password, retypePw];
                  for(var i = 0; i < fields.length; i++) {
                    fields[i].removeClass('is-danger');
                  }

                  for(var i = 0; i < fields.length; i++){
                    if(fields[i][0].value === '') {
                      alert('Please fill out the ' + fields[i][0].id);
                      fields[i].addClass('is-danger');
                      break;
                    }
                    if(i === 4) {
                      if(fields[3][0].value != fields[4][0].value) {
                        alert('Your passwords do not match');
                        fields[3].addClass('is-danger');
                        fields[4].addClass('is-danger');
                        break;
                      }
                      valid = true;
                    }
                  }

                  if(valid == true) {
                    var values = {};
                    $.each($('#register').serializeArray(), function (i, field) {
                      values[field.name] = field.value;
                    });
                    $.post('../../api/signup', values, function () {
                      console.log('success');
                      window.location.replace('/');
                    }).fail(function (data) {
                      console.log(data);
                    });
                  }
                });

            </script>
        </div>
    </div>
</section>
