<section class="hero is-light is-fullheight is-bold">
    <div class="hero-heading">
        {{> nav}}
        {{> alert}}
        <div class="has-text-centered">
            <h1 class="title">Reset Password</h1>
        </div>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <form id="reset" class="box">
                        <label class="label">Key</label>
                        <input class="input" id="key" type="text" placeholder="Key">
                        <label class="label">Email</label>
                        <input class="input" id="email" type="email" placeholder="Email">
                        <label class="label">Password</label>
                        <input class="input" id="password" type="password" placeholder="Password">
                        <p class="help">Password must have at least one uppercase letter, one lowercase letter, one
                            number, and be at least 8 characters in length.</p>
                        <label class="label" id="retypePwLabel"><b>Confirm Password</b></label>
                        <p class="control has-icons-right">
                            <input class="input" id="retypePw" type="password" placeholder="Password">
                            <span class="icon is-small is-right" id="retypePwCheck" style="display: none">
                <i class="fa fa-check" id="retypePwRightIcon"></i>
              </span>
                        </p>
                        <p class="help" id="retypePwStatus"></p>

                        <input class="button is-primary" type="submit" value="Reset Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="../public/mini-js/resetPassword.min.js"></script>
