{{> nav}}
<section class="hero">
    <div class="hero-heading">
        {{> alert}}
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title">The Clotho Team</h1>
            <hr>
            <h1 class="title has-text-centered">Team Leaders</h1>
            <div class="columns">
                <div class="column is-2 is-offset-1">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <a href="http://cidarlab.org/doug-densmore/">
                                    <img src="../public/images/team/DougDensmore.png" alt="Doug Densmore">
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column is-8">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4"><a href="http://cidarlab.org/doug-densmore/">Douglas
                                        Densmore</a></p>
                                </div>
                            </div>
                            <div class="content">
                                Doug was the original creator of Clotho when he was a UC Chancellor’s post doctoral
                                fellow at UC Berkeley. He also served as the research advisor for the 2008, 2009, and
                                2011 Clotho iGEM teams. He is is a Kern Faculty Fellow, a Hariri Institute for Computing
                                and Computational Science and Engineering Junior Faculty Fellow, and Associate Professor
                                in the Department of Electrical and Computer Engineering at Boston University. His
                                research focuses on the development of tools for the specification, design, and assembly
                                of synthetic biological systems, drawing upon his experience with embedded system level
                                design and electronic design automation (EDA). He received his B.S.E in Computer
                                Engineering from the University of Michigan and his M.S. and PhD in Electrical
                                Engineering from UC Berkeley. He is the director of the Cross-disciplinary Integration
                                of Design Automation Research (CIDAR) group at Boston University.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-2 is-offset-1">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <a href="http://openwetware.org/wiki/User:JCAnderson">
                                    <img src="../public/images/team/ChrisAnderson.jpg" alt="Chris Anderson">
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column is-8">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4"><a href="http://openwetware.org/wiki/User:JCAnderson">J.
                                        Christopher Anderson</a></p>
                                </div>
                            </div>
                            <div class="content">
                                Chris leads the Anderson Lab to resolve bottleneck steps in the design and
                                implementation of genetic engineering projects. Currently the lab is focused on
                                developing the Clotho and Act Synthesizer tools, multiplex characterize technologies,
                                and formal solutions to biosafety problems. He is an Associate professor of
                                bioengineering at UC Berkeley. His research is developing the foundational technologies
                                and applications for synthetic biology, with a emphasis on advanced DNA assembly,
                                computer-aided manufacture, and therapeutic organisms. He joined the UC Berkeley faculty
                                in 2007 after earning a Ph.D from the Scripps Research Institute and pursuing
                                postdoctoral work at UC Berkeley. His work was recognized by Technology Review with the
                                TR35 Award in 2007 and by Synthetic Biology 2.0 with its Best Application Award in 2006.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h1 class="title has-text-centered">Current Team</h1>
            <div class="columns">
                <div class="column is-2 is-offset-1">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <a href="https://github.com/PrashantVaidyanathan">
                                    <img src="../public/images/team/prash.jpg" alt="Prashant Vaidyanathan">
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column is-8">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4"><a href="https://github.com/PrashantVaidyanathan">Prashant
                                        Vaidyanathan</a></p>
                                </div>
                            </div>
                            <div class="content">
                                Prashant received his M.S. degree in Computer Engineering from Boston University and
                                B.E. (Hons.) degree in Electrical and Electronics Engineering from Birla Institute of
                                Technology and Science. He is currently pursuing a Ph.D. in Computer Engineering at
                                Boston University, focusing on Functional Specification in Genetic Circuits. As a part
                                of the Cross-disciplinary Integration of Design Automation Research (CIDAR) group, he
                                developed various computational tools for Synthetic Biology including a Logic synthesis
                                tool for Genetic Circuits. He also developed Java and JavaScript plugin APIs for Clotho
                                3.0. His research interests include Computer Architecture, Computer Arithmetic,
                                Reconfigurable Computing, Embedded Systems, Logic Synthesis and Synthetic Biology.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-2 is-offset-1">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <a>
                                    <img src="../public/images/team/nic.png" alt="Nicholas Roehner">
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column is-8">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4"><a>Nicholas Roehner</a></p>
                                </div>
                            </div>
                            <div class="content">
                                Nicholas received the B.S. and Ph.D. degrees in bioengineering from the University of
                                Washington in 2010 and the University of Utah in 2014, respectively, and is currently
                                working as a postdoctoral researcher at Boston University. He has developed
                                methodologies and algorithms for technology mapping of genetic circuits, implemented as
                                part of the genetic design automation software tool iBioSim, and he has contributed as
                                an editor to the development of the Synthetic Biology Open Language (SBOL). He is
                                currently developing Double Dutch, a web application for designing libraries of variant
                                metabolic pathways that are tailored for use in a design of experiments framework. His
                                research interests include biodesign automation and standards and their reconciliation
                                with laboratory practice.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <hr>
        <h1 class="title has-text-centered">Clotho Alumni</h1>
        <div class="columns">
            <div class="column is-2 is-offset-1">
                <div class="card" style="width: 75%">
                    <div class="card-image">
                        <figure class="image">
                            <a>
                                <img src="../public/images/team/team_adam_liu.jpg" alt="Adam Liu">
                            </a>
                        </figure>
                    </div>
                </div>
                <h2 class="subtitle">Adam Liu</h2>
            </div>
            <div class="column is-2">
                <div class="card" style="width: 75%">
                    <div class="card-image">
                        <figure class="image">
                            <a>
                                <img src="../public/images/team/team_anne_van_devender.jpg" alt="Anne Vandevender">
                            </a>
                        </figure>
                    </div>
                </div>
                <h2 class="subtitle">Anne Vandevender</h2>
            </div>
            <div class="column is-2">
                <div class="card" style="width: 75%">
                    <div class="card-image">
                        <figure class="image">
                            <a>
                                <img src="../public/images/team/team_ben_bubenheim.jpg" alt="Ben Bubenheim">
                            </a>
                        </figure>
                    </div>
                </div>
                <h2 class="subtitle">Ben Bubenheim</h2>
            </div>
             <div class="column is-2">
                            <div class="card" style="width: 75%">
                                <div class="card-image">
                                    <figure class="image">
                                        <a>
                                            <img src="../public/images/team/BillCao.jpg" alt="Bill Cao">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <h2 class="subtitle">Bill Cao</h2>
                        </div>
            <div class="column is-2">
                <div class="card" style="width: 75%">
                    <div class="card-image">
                        <figure class="image">
                            <a>
                                <img src="../public/images/team/team_bing_xia.jpg" alt="Bing Xia">
                            </a>
                        </figure>
                    </div>
                </div>
                <h2 class="subtitle">Bing Xia</h2>
            </div>

        </div>
        <div class="columns">
          <div class="column is-2 is-offset-1">
                        <div class="card" style="width: 75%">
                            <div class="card-image">
                                <figure class="image">
                                    <a>
                                        <img src="../public/images/team/team_carlos_olguin.jpg" alt="Carlos Olguin">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <h2 class="subtitle">Carlos Olguin</h2>
                    </div>
            <div class="column is-2">
                <div class="card" style="width: 75%">
                    <div class="card-image">
                        <figure class="image">
                            <a>
                                <img src="../public/images/team/cesar_resized.png" alt="Cesar Rodriquez">
                            </a>
                        </figure>
                    </div>
                </div>
                <h2 class="subtitle">Cesar Rodriquez</h2>
            </div>
            <div class="column is-2">
                <div class="card" style="width: 75%">
                    <div class="card-image">
                        <figure class="image">
                            <a>
                                <img src="../public/images/team/team_joanna_chen.jpg" alt="Joanna Chen">
                            </a>
                        </figure>
                    </div>
                </div>
                <h2 class="subtitle">Joanna Chen</h2>
            </div>
            <div class="column is-2">
                <div class="card" style="width: 75%">
                    <div class="card-image">
                        <figure class="image">
                            <a>
                                <img src="../public/images/team/team_josh_kittleson.jpg" alt="Josh Kittleson">
                            </a>
                        </figure>
                    </div>
                </div>
                <h2 class="subtitle">Josh Kittleson</h2>
            </div>
            <div class="column is-2">
                <div class="card" style="width: 75%">
                    <div class="card-image">
                        <figure class="image">
                            <a>
                                <img src="../public/images/team/team_lesia_bilitchenko.jpg" alt="Lesia Bilitchenko">
                            </a>
                        </figure>
                    </div>
                </div>
                <h2 class="subtitle">Lesia Bilitchenko</h2>
            </div>
        </div>
        <div class="columns">
            <div class="column is-2 is-offset-1">
                        <div class="card" style="width: 75%">
                            <div class="card-image">
                                <figure class="image">
                                    <a>
                                        <img src="../public/images/team/marc_resized.png" alt="Marc Juul">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <h2 class="subtitle">Marc Juul</h2>
                    </div>
            <div class="column is-2">
                <div class="card" style="width: 75%">
                    <div class="card-image">
                        <figure class="image">
                            <a>
                                <img src="../public/images/team/team_matthew_johnson.jpg" alt="Matthew Johnson">
                            </a>
                        </figure>
                    </div>
                </div>
                <h2 class="subtitle">Matthew Johnson</h2>
            </div>
            <div class="column is-2">
                            <div class="card" style="width: 75%">
                                <div class="card-image">
                                    <figure class="image">
                                        <a>
                                            <img src="../public/images/team/MaxwellBates.jpg" alt="Maxwell Bates">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <h2 class="subtitle">Maxwell Bates</h2>
                        </div>
            <div class="column is-2">
                <div class="card" style="width: 75%">
                    <div class="card-image">
                        <figure class="image">
                            <a>
                                <img src="../public/images/team/team_michal_galdzicki.jpg" alt="Michal Galdzicki">
                            </a>
                        </figure>
                    </div>
                </div>
                <h2 class="subtitle">Michal Galdzicki</h2>
            </div>
             <div class="column is-2">
                            <div class="card" style="width: 75%">
                                <div class="card-image">
                                    <figure class="image">
                                        <a>
                                            <img src="../public/images/team/MinaLi.jpg" alt="Mina Li">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <h2 class="subtitle">Mina Li</h2>
                        </div>
        </div>
        <div class="columns">
             <div class="column is-2 is-offset-1">
                            <div class="card" style="width: 75%">
                                <div class="card-image">
                                    <figure class="image">
                                        <a>
                                            <img src="../public/images/team/team_nade_sritanyaratana.jpg" alt="Nade Sritanyaratana">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <h2 class="subtitle">Nade Sritanyaratana</h2>
                        </div>
                        <div class="column is-2">
                            <div class="card" style="width: 75%">
                                <div class="card-image">
                                    <figure class="image">
                                        <a>
                                            <img src="../public/images/team/team_nina_revko.jpg" alt="Nina Revko">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <h2 class="subtitle">Nina Revko</h2>
                        </div>
                        <div class="column is-2">
                            <div class="card" style="width: 75%">
                                <div class="card-image">
                                    <figure class="image">
                                        <a>
                                            <img src="../public/images/team/team_richard_mar.jpg" alt="Richard Mar">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <h2 class="subtitle">Richard Mar</h2>
                        </div>

                        <div class="column is-2">
                               <div class="card" style="width: 75%">
                                   <div class="card-image">
                                       <figure class="image">
                                           <a>
                                               <img src="../public/images/team/StephaniePaige.jpg" alt="Stephanie Paige">
                                           </a>
                                       </figure>
                                   </div>
                               </div>
                               <h2 class="subtitle">Stephanie Paige</h2>
                           </div>
            <div class="column is-2">
                <div class="card" style="width: 75%">
                    <div class="card-image">
                        <figure class="image">
                            <a>
                                <img src="../public/images/team/Swapnil_cropped.png" alt="Swapnil Bhatia">
                            </a>
                        </figure>
                    </div>
                </div>
                <h2 class="subtitle">Swapnil Bhatia</h2>
            </div>
        </div>
        <div class="columns">
          <div class="column is-2 is-offset-1">
                        <div class="card" style="width: 75%">
                            <div class="card-image">
                                <figure class="image">
                                    <a>
                                        <img src="../public/images/team/team_thien_nguyen.jpg" alt="Thien Nguyen">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <h2 class="subtitle">Thien Nguyen</h2>
                    </div>
                    <div class="column is-2">
                        <div class="card" style="width: 75%">
                            <div class="card-image">
                                <figure class="image">
                                    <a>
                                        <img src="../public/images/team/team_timothy_ham.jpg" alt="Timothy Ham">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <h2 class="subtitle">Timothy Ham</h2>
                    </div>
        </div>
    </div>
</section>
