<!DOCTYPE html>
<html>
  <html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clotho</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css">
  </head>
  <body>
    {{{content}}}
    <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/clipboard.min.js"></script>
    <script src="/public/js/bulma.js"></script>
  </body>
</html>
