<nav class="nav has-shadow" style="background-color: white;">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item is-tab is-hidden-mobile" href="/admin">Admin</a>
        </div>
        <span class="nav-toggle" style="background-color: white;">
      <span></span>
      <span></span>
      <span></span>
    </span>
        <div class="nav-right nav-menu" style="background-color: white;">
            <a style="background-color: white;" class="nav-item is-tab is-hidden-tablet" href="/admin">Admin</a>
        </div>
    </div>
</nav>
