<nav class="nav has-shadow" style="background-color: white;">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item is-tab" href="/admin">Admin</a>
            <a class="nav-item is-tab" href="/delete">Delete</a>
        </div>
    </div>
</nav>
