<div class="container" style="padding:10px;">
  <div class="notification has-text-centered is-marginless" id="alert" style="visibility: hidden; padding-top:10px; padding-bottom:10px;">
    <button id="delete" class="delete"></button>
    <h1 id="alertMessage">Success!</h1>
  </div>
</div>
<script type="text/javascript" src="/public/mini-js/alert.min.js"></script>
