<section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                    <div class="columns">
                        <div class="level">
                        <div class="column">
                            <a href="http://www.autodesk.com/">
                                <img  class="max-image level-item" src="../../../public/images/footer-images/autodesk.png">
                            </a>
                        </div>
                        <div class="column">
                            <a href="http://aws.amazon.com/what-is-cloud-computing">
                                <img class="max-image level-item" src="../../../public/images/footer-images/AWS.png">
                            </a>
                        </div>
                        <div class="column">
                            <a href="http://qb3.org/">
                                <img class="max-image level-item" src="../../../public/images/footer-images/qb3.gif">
                            </a>
                        </div>
                        <div class="column">
                            <a href="http://www.cidarlab.org/">
                                <img class="max-image level-item" src="../../../public/images/footer-images/cidar.png">
                            </a>
                        </div>
                        <div class="column">
                            <a href="http://www.synberc.org/">
                                <img class="max-image level-item" src="../../../public/images/footer-images/synberc.png">
                            </a>
                        </div>
                        <div class="column">
                            <a href="http://www.nonasoftware.org/">
                                <img class="max-image level-item" src="../../../public/images/footer-images/nona.png">
                            </a>
                        </div>
                        <div class="column">
                            <a href="http://www.nsf.gov/">
                                <img class="max-image level-item" src="../../../public/images/footer-images/nsf_logo.png">
                            </a>
                        </div>
                        <div class="column">
                          <a href="http://sail.bu.edu/">
                            <img class="max-image level-item" src="../../../public/images/footer-images/SAIL.png">
                          </a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="columns">
                    <div class="level">
                        <div class="column is-4">
                            <p>Clotho is a trademark of <a href="http://www.nonasoftware.org/">Nona Research Foundation, Inc.</a></p>
                        </div>
                        <div class="column is-7">
                            <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a></p>
                        </div>
                        <div class="column is-1">
                            <a  class="level-item" href="http://creativecommons.org/licenses/by/4.0/"><img src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <style>
        .max-image {
            max-height: 75px;
        }
    </style>
</section>
