<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="/">
        <img src="/public/images/logo.png" alt="Clotho logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile" href="/">Home</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet" href="/">Home</a>
      <a class="nav-item is-tab">Name</a>
      <a class="nav-item is-tab" href="/register">Register</a>
    </div>
  </div>
</nav>
