<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="/public/images/logo.png" alt="Clotho logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile is-active">Page 1</a>
      <a class="nav-item is-tab is-hidden-mobile">Page 2</a>
      <a class="nav-item is-tab is-hidden-mobile">Page 3</a>
      <a class="nav-item is-tab is-hidden-mobile">Page 4</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">Page 1</a>
      <a class="nav-item is-tab is-hidden-tablet">Page 2</a>
      <a class="nav-item is-tab is-hidden-tablet">Page 3</a>
      <a class="nav-item is-tab is-hidden-tablet">Page 4</a>
      <a class="nav-item is-tab">
        Name
      </a>
      <a class="nav-item is-tab">Log out</a>
    </div>
  </div>
</nav>
